{% extends 'base.html' %}
{% load static %}


{% block content %}

<!------------ SIDE NAV ------------>
<div class="ui grid" style="margin: 10px;">
    <div class="ui inverted vertical menu" style="background-color: var(--primary); margin-top: 14px; padding: 10px;">
        <h3 class="ui header" style="color: white;">CITIES</h3>
        {% for city in cities %} 
        <a href="{% url 'city' city.name %}">
        <div class="ui link items" style="border-radius: 4px; background-color: var(--secondary);">
            <div class= "link item" style="margin-bottom: 5px;">
                <div class="ui tiny image">
                    <img src="{{MEDIA_URL}}{{ city.photo }}">
                </div>
                <div class="ui content">
                    <div style="text-transform:uppercase; color: white;">{{ city.name }}
                    </div>
                </div>
            </div>
        </div>       
        </a>
        {% endfor %}
    </div>

<!------------ MAIN POST AREA ------------>
    <div class="ui thirteen wide column">
        <div class="ui segment">
            <div class="ui grid" style="padding: 10px;">
                
                    <div class="ui row" style="margin-left: 15px;">
                        <h3 class="" style="text-transform:uppercase">{{ city.name }} - {{ city.country }}</h3>
                    </div>
                    <div class="ui two column row">
                        <div class="eight wide column">

            <!-- MAP -->
                            
                            <div class="ui placeholder">
                                <img class="ui image" src="{{ MEDIA_URL }}/static/globe.jpg" alt="">
                            </div>

            <!-- MAP -->
            
                        </div>
                        <div class="eight wide column">
                            <img class="ui image" src="{{MEDIA_URL}}{{ city.photo }}" alt="">
                        </div>
                        
                    </div>
                <div class="row">
                    <div class="six wide column">
                        <h3 class="ui middle aligned content">POSTS</h3>
                    </div>
                    <div class="ten wide column" style="text-align: right;">
                        <button class="ui circular icon button" style="background-color: var(--tertiary); margin-right: 10px;" id="create-post">
                            <i class="fas fa-plus-circle"></i></button>
                        <script>
                            $(function(){
                                $("#create-post").click(function(){
                                    $(".create-post-class").modal('show');
                                });
                                $(".create-post-class").modal({
                                    closable: true
                                });
                            });
                        </script>
<!------------ ADD POST BUTTON/MODAL  ------------>
                        <div class="ui modal create-post-class" style="padding: 10px;">
                            <h2 class="ui modal-header">Add a New Post!</h2>
                            <div class="ui modal-body">

                                <form class="ui small form" action="/posts/create/{{city.name}}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="content">
                                        <div class="field">
                                            <label>Title</label>
                                            <input type="text" name="title">
                                        </div>
                                        <div class="field">
                                            <label>Content</label>
                                            <textarea id="content" name="content" rows="8" column="2000" style="resize: none"></textarea>
                                        </div>

                                        <div class="field">
                                            <label>Image</label>
                                            <input id='id_image' type='file' name='image' accept='image/*'>          
                                        </div>
                                    </div>

                                        <input class='ui small inverted button' type="submit" value="Post It" style="background-color: var(--tertiary); margin-top: 10px;">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                {% for post in posts %} 
                <div class="ui items" >
                    <div class="ui link items" style="margin-bottom: 15px;">
                        <a class= "link item" href="/posts/{{ post.id }}">
                        <div class="ui middle aligned small image">
                            <img src="{{MEDIA_URL}}{{ post.image }}">
                        </div>
                        <div class="ui middle aligned content" style="margin-left: 15px; text-decoration-color: black;">
                                <h3>{{ post.title }} </h3>
                                <p>{{ post.content }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
