:root {
    --primary:#860F44;
    --secondary:#BB3939;
    --tertiary:#EA5F2D;
    --quaternary:#EEC89F
}


/* body {
    background-color: #f1f1f1;
} */

/* SEMANTIC UI EXPERIMENTAL SECTION */
/* .dtk {
    width: 20%;
}
#rainbow {
    width: 40%;
}
#red {
    background-color: red;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
} */
