{% extends 'base.html' %}
{% load static %}


{% block content %}



<div class="ui grid centered" style="margin-top: 40px">
    <div class="four wide column">
        <div class="ui card">
            <form class="ui large form" action="{% url 'edit_profile' profile.user.username %}" method="POST">
                <div class="ui segment">
                    <h3>Profile Edit</h3>
                    {% csrf_token %}
                    <div class="field">
                        <label>Username</label>
                        <input type="text" name="name" value="{{ profile.name }}">
                    </div>
                    <br>


                    {% comment %} <div class="ui fluid selection dropdown">
                        <input type="hidden" name="current_city" value="{{profile.current_city.id}}">
                        <i class="dropdown icon"></i>
                        <div class="default text">Current City</div>
                        <div class="menu">

                            {% for city in cities %}

                                <div class="item" data-value="{{city.id}}">
                                    <img class="ui mini avatar image" src="{{city.photo}}">
                                    {{city.name}}
                                </div>

                            {% endfor %}

                        </div>
                    </div> 

                    <script>
                        $('.ui.dropdown').dropdown();
                    </script> {% endcomment %}

                    <div class="field">
                        <label>Current City</label>
                        <input type="text" name="current_city" value="{{profile.current_city}}">
                    </div>



                    <br>

                    <div class="field">
                        <img src="{{ profile.image }}" style="max-width: 150px;" alt="profile image">
                        <input type="text" name="image" value="{{ profile.image }}">
                    </div>
                    <button class="ui button" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </div>    
</div> 




{% endblock %}

