{% extends 'base.html' %}
{% block content %}


<div class="ui middle aligned center aligned grid">
    <div class="six wide column">
        <h2 class="ui header">Log-in</h2>
        <form class="ui large form" action="{% url 'login' %}" method="POST">
                <div class="ui segment">
                {% csrf_token %}
                <div class="field">{{ form.as_p }}</div>
                <button class="ui button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}