{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% block custom_js %}
    {% endblock %}
    <title>Wayfarer</title>
</head>
<body>

<div class="ui fixed menu inverted" style="background-color:var(--primary)">
    <a href="" class="item">BRAND/LOGO</a>
    <a href="" class="item">WAYFARER</a>
    <div class="right menu">
        <a class="item" id="login" type="button">LOG-IN</a>
        <a href="" class="item">SIGN-UP</a>
            <script>
                $(function(){
                    $("#login").click(function(){
                    $(".login").modal('show');
                    });
                    $(".login").modal({
                        closable: true
                    });
                });
            </script>
        <div class="ui modal login">
            <h2 class="ui header">Log-in</h2>
            <form class="ui large form" action="{% url 'login' %}" method="POST">
                    <div class="ui segment">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="ui button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

    {% block content %}
    {% endblock %}
</body>
</html>
