{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="ui grid" style="margin: 4px;">
    <div class="three wide column">
        <div class="ui segment">
            <div class="ui inverted fluid vertical menu" style="padding: 4px; background-color:var(--primary)">
                <h5 style="margin:4px; color:white;">CITIES</h5>
                {% for city in cities %} 
                    <a class="ui inverted large label" style="margin: 4px; background-color:var(--secondary)">
                        <img src="{{ city.photo }}">  {{ city.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="thirteen wide column"> 
        {% for post in posts %}
        <div class="ui segment">
            <h1 class="title">{{city.name}}</h1>
            <div class="ui segment">
                <img class="ui image" src="{{ post.image }}">
            </div>
            <div class="card" style="background-color:white; padding:4px;">
                <p>
                    {{ post.content }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
