{% extends 'base.html' %}
{% block content %}
    <h3>semantic test page</h3>

<select name="skills" multiple="" class="ui fluid dropdown">
    <option value="">Skills</option>
    <option value="angular">Angular</option>
    <option value="css">CSS</option>
    <option value="ember">Ember</option>
    <option value="html">HTML</option>
    <option value="javascript">Javascript</option>
    <option value="meteor">Meteor</option>
    <option value="node">NodeJS</option>
</select>

<br>
<br>

<div class="ui three buttons">
    <button class="ui active button">One</button>
    <button class="ui button">Two</button>
    <button class="ui button">Three</button>
</div>


{% endblock %}
