{% extends 'base.html' %}

{% block content %}

<div class="edge-margin">

    <form action="/posts/create/{{city_id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title">
            </div>

            <div class="field">
                <label>Content</label>
                <textarea name="content" rows="8" column="2000" style="resize: none"></textarea>

            </div>

            <div class="field">
                <label>Image</label>
                <input id='id_image' type='file' name='image' accept='image/*'>          
            </div>
        </div>



            <input type="submit" value="Post It">
    </form>

</div>

{% endblock %}
