{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="ui grid" style="padding: 50px;">
    <div class="ui raised segment">
        <div class="ui items">
            <div class="ui item">
                <div class="content">
                    <h2>{{ post.city.name }}</h2>
                    <h2 style="text-transform:uppercase">{{ post.title }}</h2><h4 style="text-transform:uppercase">author: {{ post.profile.user.username }}</h4>
                        <div class="ten wide column">
                            <button class="ui inverted tiny button" style="background-color: var(--tertiary);">EDIT</button>
                            <script>
                                $(function(){
                                    $("#edit-post").click(function(){
                                        $(".edit-post-class").modal('show');
                                    });
                                    $(".edit-post-class").modal({
                                        closable: true
                                    });
                                });
                            </script>
<!------------ ADD EDIT POST MODAL  ------------>
                        <div class="ui modal create-post-class" style="padding: 10px;">
                            <h2 class="ui modal-header">Add a New Post!</h2>
                            <div class="ui modal-body">
                                <form class="ui large form" action="/posts/edit/{{city.id}}" method="POST">
                                    {% csrf_token %}
                                    <div class="content">
                                        {{ post_form.as_p }}
                                    </div>
                                    <input class="ui button" type="submit" value="Submit" style="margin:10px; background-color:var(--quaternary)">
                                </form>
                            </div>
                        </div>
<!----------------------------------------------->
                        </div>
                </div>
                <div class="ui medium image">
                    <img src="{{ post.image }}">
                </div>
            </div>
            <div class="row">
                <div class="six wide column">
                </div>
            </div>
            <div class="content">
                <p>{{ post.content }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}