{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="ui main text container" style="padding: 10px;">
    <div class="ui raised card" style="background-color:var(--tertiary); padding:10px;">
        <h2 class="ui header" style="text-transform:uppercase">{{ post.title }} - author: {{ post.profile.user.username }}</h2>
        <h3>{{ post.city.name }}</h3>
        <img src="{{ post.image }}" style="max-width: 300px" alt="city image">
        <p>{{ post.content }}</p>
    </div>
</div>

{% endblock %}